body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.table .fill {
  width: 100%;
}

.table ul {
  list-style: none;
  padding: 0;
}
.table li {
  white-space: nowrap;
}
.table>tbody>tr>td {
  vertical-align: middle;
}

.chart {
  font-size: 10px;
}

.chart > div {
  background-color: white;
}

.current {
  font-size: 30px;
  font-weight: bold;
}

.target {
  font-size: 20px;
}
