body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.table .fill {
  width: 100%;
}

.table ul {
  list-style: none;
  padding: 0;
}
.table li {
  white-space: nowrap;
}
.table>tbody>tr>td {
  vertical-align: middle;
}

.chart {
  font-size: 10px;
}

.chart > div {
  background-color: white;
}

.current {
  font-size: 30px;
  font-weight: bold;
}

.target {
  font-size: 20px;
}

.target [data-action] {
  cursor: pointer;
}

.modal {
  top: 50px;
}

.modal-content {
  background-color: rgba(255,255,255,0.7);
}

.modal-open .modal {
  display: block;
}

.modal-open .main {
  filter: blur(3px);
  opacity: 0.5;
}

.timer-dialog .modal-body .row {
  margin-bottom: 10px;
}

.vis-timeline .vis-point.timer {
  fill: #668;
  fill-opacity: 0.5;
  stroke: #88A;
  stroke-opacity: 0.1;
  stroke-width: 20px;
}

.vis-timeline .vis-point.timer.today {
  fill: #040;
  stroke: #080;
}

.timer-temperature {
  font-size: 20px;
  font-weight: bold;
}
